.hero{
    position: fixed;
    position: relative;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
 }



.bg-img {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/045/654/non_2x/versus-comic-screen-in-orange-and-black-vector.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    }

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

}

.watchagain {
    top: 25px;
    right: x;
    position: relative;

}

* {
    box-sizing: border-box;

}

#anime-home-btn{
   left: 150px;
   position: fixed;
  
}

.liveaction {
    bottom: 40px;
    right: 125px;
    position: fixed;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredbtn {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredh1 {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.centered-anime-count {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}

#start-button {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 200px;
        font-size: 40px;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;text-decoration:none;font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
}

.centered-mma-count {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}





.centeredbtn {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredh1 {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.centered-anime-count {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}

#start-button {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 200px;
        font-size: 40px;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;text-decoration:none;font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
}

.centered-mma-count {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}

.none {
    display: none;
}

@media (max-width: 768px) {

#animeplayer {
    height: 260px;
    width: 380px;
}

#mmaplayer {
    height: 260px;
    width: 380px;
} 

#anime-home-btn{
   left: 150px;
   position: fixed;
  
}

.liveaction {
    bottom: 40px;
    right: 125px;
    position: fixed;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredbtn {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredh1 {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.centered-anime-count {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}

#start-button {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 200px;
        font-size: 40px;
        border:0.16em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        box-sizing: border-box;text-decoration:none;font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
}

.centered-mma-count {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: bold;
    color: white;

}
}
